<%= render partial: 'layouts/nav' %>
<%= render partial: 'layouts/side_menu' %>
<div class="col-sm-12 col-xs-12 main-content-area user-keys">
  <br>
  <div class="row">
    <div class="page-header">
      <%= render partial: 'layouts/dash_header' %>
    <br>
    <hr>
    </div>
  </div>
  <div class="row primary-wallet">
    <% if current_user && current_user.primary_wallet %>
      <span class="primary-wallet-info">
        Total Balance: <%= current_user.total_balance %> CLC
      </span>
      <span class="pull-right">
        <button class="btn btn-success" data-toggle="modal" data-target="#dash-create-wallet">Create New Wallet</button>
      </span>
  </div>
  <br>
  <hr>
  <%= render partial: "/layouts/transactions" %>
  <% else %>
    <div class="primary-keys">
      <center>
        <!-- <h3>Create a Wallet in order to get started!</h3> -->
        <button class="btn btn-success" data-toggle="modal" data-target="#dash-create-wallet">Create New Wallet to get started!</button>
      </center>
    </div>
  <% end %>
</div>
<div class="main">

</div>
