<%= render partial: 'layouts/nav' %>
<%= render partial: 'layouts/side_menu' %>
<div class="col-sm-12 col-xs-12 main-content-area user-keys">
  <br>
  <div class="row">
    <div class="page-header">
      <%= render partial: 'layouts/dash_header' %>
      <br>
      <hr>
    </div>
  </div>
  <div class="row primary-wallet">
    <% if current_user && current_user.primary_wallet %>
      <span class="primary-wallet-info">
        Total Balance: <%= current_user.total_balance %> CLC
      </span>
      <span class="pull-right">
        <div class="btn-group" role="group">
          <button class="btn btn-secondary" type="button" data-toggle="modal" data-target="#dash-create-wallet">Create New Wallet</button>
          <button class="btn btn-secondary" type="button" data-toggle="modal" data-target="#phone-number"><%= current_user.phone.empty? ? "Add a phone" : "Change your number" %></button>
        </div>
      </span>
    </div>
    <br>
    <hr>
    <%= render partial: "/layouts/transactions" %>
  </div>
<% else %>
  <div class="primary-keys">
    <center>
      <button class="btn btn-success" data-toggle="modal" data-target="#dash-create-wallet">Create New Wallet to get started!</button>
    </center>
  </div>
<% end %>
</div>

<div class="modal fade" id="phone-number" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="phoneNumber"><%= current_user.phone.empty? ? "Add a phone" : "Change your number"%></h4>
      </div>
      <div class="modal-body">

        <form id="phone-form">
          <label for="phoneNumber">Number </label>
          <input name="phone_number" id="phoneNumber" autocomplete="off" type="number" class="form-control" placeholder="10 digit cell number" required="true" maxlength="10">
          <br>
          <input type="submit" value="Update" class="btn btn-success"></input>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
