<%= render partial: 'layouts/nav' %>
<%= render partial: 'layouts/side_menu' %>

<div class="container">
  <div class="row" id="add-a-friend">
    <div class="col-sm-6 col-md-6">
      <div class="card-header">
        Friends List
      </div>
      <br>
      <div class="scrollable">
        <% current_user.friends.order('users.email').each do |friend| %>
          <div class="friend-item">
            <p><%= "#{friend.email}" %></p>
            <span id="toggle-parent">
              <a href="" class="toggle-address-modal" data-email="<%= friend.email %>" data-address="<%= friend.primary_wallet.address if friend.primary_wallet %>" ><i class="fa fa-tag fa-fw" aria-hidden="true"></i>Address</a>
              <a href="" class="toggle-pay-modal" data-email="<%= friend.email %>" data-address="<%= friend.primary_wallet.address if friend.primary_wallet %>" ><i class="fa fa-money fa-fw" aria-hidden="true"></i>Pay</a>
              <hr>
            </span>
          </div>
        <% end %>
      </div>

      <div class="modal fade" id="address-modal" tabindex="-1" role="dialog" aria-labelledby="addressModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title" id="addressModalLabel"></h4>
            </div>
            <div class="modal-body">
              <div class="inputs">
                Address: <input id="addy" type="url" value="">
                <button id="copy_btn" class="addy"><i class="fa fa-clipboard"></i></button>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="pay-modal" tabindex="-1" role="dialog" aria-labelledby="payModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="new-transaction card">
            <div id="pay-to-header" class="card-header">
            </div>
            <div class="card-block">
              <form id="submit-transaction">
                <div class="form-group">
                  <input id="hidden-key" type="hidden" name="address" value="">
                  <hr>
                  <div class="input-group input-group-lg">
                    <span class="input-group-addon" id="sizing-addon1">CLC</i></span>
                  <input autocomplete="off" id="amount" class="form-control" type="amount" placeholder="AMOUNT" name="amount"/>
                </div>
                <hr>
                <p class="wallet-select">Send From: <%= collection_select(:wallet, :id, current_user.wallets, :id, :balance_with_id ) %></p>
                <hr>
                <br>
                <footer id="submitTransaction">
                  <input type="submit" id="sendCoin" class="btn btn-success btn-lg btn-block log" value="Send"></input>
                </footer>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-6">
    <div class="card">
      <div class="card-header">
        Add a friend
      </div>
      <div class="card-block">
        <form id="add-friend" >
          <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-envelope fa-fw" aria-hidden="true"></i></span>
            <input autocomplete="off" class="form-control" placeholder="Email" type="text" name="email" id="friend-input-key">
          </div>
          <br><h4 class="text-xs-center">Or</h4><br>
          <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-key fa-fw" aria-hidden="true"></i></span>
            <input autocomplete="off" class="form-control" placeholder="Public Key" type="text" name="key" id="friend-input-key">
          </div><br>
          <div class="actions form-group">
            <input class="btn btn-primary btn-lg btn-block" type="submit" value="Add Friend"> </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
