<div class="col-sm-2 sidebar hidden-xs">
  <ul class="nav nav-pills nav-stacked left-side">
    <br>
    <li class="nav-item">
      <span class="option-image"><a class="nav-link <%= 'active' if params[:controller] == 'dashboard' %>" href="<%= dashboard_path %>"><i class="fa fa-home fa-fw" aria-hidden="true"></i> Dashboard</a></span>
    </li>
    <hr>
    <br>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#collapseWallet" aria-expanded="false" aria-controls="collapseWallet"><i class="fa fa-folder-open fa-fw" aria-hidden="true"></i> Wallets</a>
      <div class="collapse wallets" id="collapseWallet">
        <% @wallets.each do |wallet| %>
          <span class="card card-block sidebar-wallet">
            <%= link_to truncate(wallet.name, length: 15, separator: ' '), whallet_dashboard_path(wallet.slug) %>
            <span class="pull-right"><%= wallet.balance %> CLC</span>
          </span>
        <% end %>
      </div>
    </li>
    <hr>
    <br>
    <li class="nav-item">
      <span class="option-image"><a class="nav-link <%= 'active' if params[:controller] == 'transactions' %>" href="<%= transactions_new_path %>"><i class="fa fa-paper-plane fa-fw" aria-hidden="true"></i> Send ClarkeCoins</a></span>
    </li>
    <hr>
    <br>
    <li class="nav-item">
      <span class="option-image"><a class="nav-link <%= 'active' if params[:controller] == 'address_books' %>" href="<%= friends_path %>"><i class="fa fa-user-secret fa-fw" aria-hidden="true"></i>  Friends</a></span>
    </li>
    <hr>
    <br>
  </ul>
</div>
<div class="col-sm-10 col-xs-12 main-content-area">
