<div class="landing-image-sign-up">
  <%= render partial: 'layouts/nav' %>
  <div class="opacity-sign-up">
    <%= render partial: 'layouts/flash' %>
    <div class="container log-in" id="log-in">
      <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
        <div class="sign-up-page card animated pulse">
          <div class="card-header">
              Get Started
          </div>
        <div class="card-block">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>

            <div class="input-group input-group-lg">
              <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-user" aria-hidden="true"></i></span>
              <input class="form-control" placeholder="EMAIL" aria-describedby="sizing-addon1" type="email" value="" name="user[email]" id="user_email">
            </div>
            <br>
            <div class="form-group">
              <div class="input-group input-group-lg">
                <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-lock" aria-hidden="true"></i></span>
                <input autocomplete="off" class="form-control" type="password" placeholder="PASSWORD" name="user[password]" aria-describedby="sizing-addon1" id="user_password" />
              </div>
            </div>
            <div class="input-group input-group-lg">
              <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-lock" aria-hidden="true"></i></span>
              <input autocomplete="off" class="form-control" placeholder="CONFIRM" type="password" name="user[password_confirmation]" aria-describedby="sizing-addon1" id="user_password_confirmation">
            </div>
            <div class="actions form-group">
              <br>
              <%= f.submit "Sign up", class: "btn btn-primary btn-lg btn-block log" %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
